.tagline p {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.form {
  max-width: 35em;
  margin: 3em auto;
  gap: 1.5em;
}

.form input[type='text'],
.form select,
.form textarea {
  appearance: none;
  border: 1px solid #333;
  border-radius: 5px;
  font-family: inherit;
  background: transparent;
  color: var(--black);
  padding: 0.65em 0.5em;
  font-size: 1.2rem;
}

.form select {
  background-color: var(--white);
  background-image: url('data:image/svg+xml;utf8,<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

.form textarea {
  height: inherit;
  padding: 0.5em;
}

.form input[type='text']:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: 0 0 1px 1px var(--primary);
}

.error input[type='text'],
.error textarea {
  border: 1px solid var(--error);
}

.error input[type='text']:focus,
.error select:focus,
.error textarea:focus,
.cbInput input[type='checkbox']:focus + .cbError {
  border-color: var(--error);
  box-shadow: 0 0 1px 1px var(--error);
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.75em;
}

.cbControl {
  display: inline-grid;
  width: 0.75em;
  height: 0.75em;
  border-radius: 5px;
  border: 1px solid currentColor;
  font-size: 2rem;
}

.cbControl svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.cbError {
  border-color: var(--error);
}

.cbInput {
  display: grid;
  grid-template-areas: 'checkbox';
  align-items: center;
}
.cbInput > * {
  grid-area: checkbox;
}

.cbInput input {
  opacity: 0;
}

.cbInput input:focus + .cbControl {
  border-color: var(--primary);
  box-shadow: 0 0 1px 1px var(--primary);
  /* box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--primary); */
}

.cbInput input:checked + .cbControl svg {
  transform: scale(1);
}

.form button {
  margin-top: 0.5em;
}

.visu {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.msgSent {
  margin: 0 auto;
  max-width: 30em;
  gap: 0.25em;
}

.msgSent h2 {
  background: var(--success);
  padding: 1.5em 0.5em;
  margin-bottom: 1.5em;
  color: rgb(0, 0, 0, 0.6);
  text-align: center;
  font-size: 1rem;
}

.msgSent a {
  align-self: flex-start;
}

@media (min-width: 768px) {
  .tagline p {
    font-size: 1.25rem;
  }
}
