:root {
  --main-color: #333;
  --primary: #5850ec;
  --black: #161e2e;
  --white: #f8f8f8;
  --border-color: rgba(151, 151, 151, 0.2);
  /* --success: #1cb495; */
  --error: #ff2361;
}

/* Responsive breakpoints:
  xs: 320px - 480px
  sm: 481px - 767px
  md: 768px - 1024px
  lg: 1025px - 1280px
  xl: 1281px
*/

body {
  background: var(--white);
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
a.custom {
  font-weight: 500;
  color: var(--primary);
  border-bottom: 2px solid transparent;
}
a.custom:hover,
a.custom:focus {
  border-color: var(--primary);
}

/* =================
      Layout
================= */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

section h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--black);
}

section p {
  margin-bottom: 0.5em;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.space {
  margin-top: 4em;
}

.mt2 {
  margin-top: 2em;
}

[hidden] {
  display: none;
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 250px;
  background: #d3d3d3;
}

/* =================
      Buttons
================= */

.btn {
  display: inline-block;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 6px;
  border: 0;
  color: #fff;
  background: var(--primary);
  /* transition: background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out; */
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background: #6875f5;
}

.btn.light {
  font-weight: 500;
  color: var(--primary);
  background: #e5edff;
}
.btn.light:hover,
.btn.light:focus {
  background: #f0f5ff;
}

/* ==================
    Media Queries
================== */

@media (min-width: 481px) {
  .imgWrap {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .space {
    margin-top: 6em;
  }
  .btn {
    padding: 15px 25px;
  }
}

@media (min-width: 1025px) {
  .space {
    margin-top: 8em;
  }
  .imgWrap {
    height: 500px;
  }
}
